$mainFont: 'Josefin Sans', sans-serif;
$brandFont: 'Kalam', cursive;
$brandColor: rgb(231, 199, 134);
$blackColor: rgb(12, 11, 16);
$redColor: #dc3545;
$box-shadow:  5px 5px 7px rgba(0, 0, 0, 0.2);


$lightGrey:#CCCECE;
$grey: #999E9C;
$darkGrey: #676D6B;
$black: #343D39;
$green: #47AE8C;
$darkGreen: #269470;
